
	<div ng-include src="'includes/adminheader.html'"></div>  
	<div ng-include src="'includes/adminleftsidebar.html'"></div>  
	
	<div id="main" role="main" ng-controller="PagesCtrl">
		<div id="ribbon">
			<span class="ribbon-button-alignment"> 
				<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
					<i class="fa fa-refresh"></i>
				</span> 
			</span>
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>Home</li><li>Pages</li>
			</ol>
		</div>
		<div id="content">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></div>
			</div>
			
			<section id="widget-grid" class="">

				<div class="row">
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
							<div role="widget" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false">
								<header role="heading">
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Pages Listing </h2>
								<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

								<div role="content">
									<div class="jarviswidget-editbox">
									</div>
									<div class="widget-body no-padding">

										<div class="alert alert-info no-margin fade in">
											
											<!-- <i class="fa-fw fa fa-info"></i><p ng-bind-html="trustedHtml" compile-template>
											Adds zebra-striping to table row within <code>&lt;table&gt;</code> by adding the <code>.table-striped</code> with the base class -->
										</div>
										<div class="table-responsive">
												 
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>Page Title</th>
														<th>Page Description</th>
														<th>Action</th>
													</tr>
												</thead> 
												<tbody>
													<tr ng-repeat="(key, pageObject) in pagesArray">	
														<td>{{pageObject.title}}</td>
														<td>{{pageObject.content}}</td>
														<td>
															<a href="javascript:void(0)" ng-click="editPage(key)">EDIT</a>
															<!-- <a href="javascript:void(0)" ng-click="deletePage(key)">DELETE</a> -->
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</article>
				</div>
			</section>
		</div>
	</div>
	<div ng-include src="'includes/adminfooter.html'"></div> 