
	<div ng-include src="'includes/adminheader.html'"></div>  
	<div ng-include src="'includes/adminleftsidebar.html'"></div>  
	
	
	<div id="main" role="main" ng-controller="PartnersCtrl">
		<div id="ribbon">
			<span class="ribbon-button-alignment"> 
				<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
					<i class="fa fa-refresh"></i>
				</span> 
			</span>
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li>Home</li><li>Partner</li>
			</ol>
		</div>
		<div id="content">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></div>
			</div>
			
			<section id="widget-grid" class="">

				<div class="row">
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
							<div role="widget" class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false">
								<header role="heading">
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Partner Listing </h2>
								<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

								<div role="content">
									<div class="jarviswidget-editbox">
									</div>
									<div class="widget-body no-padding">
										
										<div class="alert alert-info no-margin fade in">
											<a href="javascript:void(0)" ng-click="addPartner()">Add Partner</a>
										</div>
										
										<div class="table-responsive">
												 
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>Image</th>
														<th>Link</th>
														<th>Tooltip</th>
														<th>Action</th>
													</tr>
												</thead> 
												<tbody>
													<tr ng-repeat="(key, partnerdata) in partners">
														<td><img width="110" height="100" alt="{{partnerdata.fileName}}" src="images/admin/partners/{{partnerdata.fileName}}"></td>
														<td ng-bind-html="partnerdata.link  | sanitize"></td>
														<td ng-bind-html="partnerdata.tooltip  | sanitize"></td>
														<td>
															<a href="javascript:void(0)" ng-click="editPartner(partnerdata.$id)">EDIT</a>
															<a href="javascript:void(0)" ng-click="deletePartner(key)">DELETE</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</article>
				</div>
			</section>
		</div>
	</div>
	<div ng-include src="'includes/adminfooter.html'"></div> 