<form name="loginForm" novalidate role="form" class="box login"  ng-controller="AuthCtrl">
	
	
	<fieldset class="boxBody">
	
		<div class="form-group">
		<label>
			Username 
			<span class="label label-danger" data-ng-show="submitted && loginForm.username.$error.required">Required!</span>
		</label>
			<input type="text" data-ng-model="username" tabindex="1" placeholder="Enter username" required>
		</div>
		<div class="form-group">
			<label>
				Password
				<span class="label label-danger" data-ng-show="submitted && loginForm.password.$error.required">Required!</span>
			</label>
			<input type="password" data-ng-model="password" tabindex="2" placeholder="Enter password"  required>
		</div>
		
	</fieldset>
	
	<footer> 
		<label><input type="checkbox" tabindex="3">Keep me logged in</label>
		<input type="submit" class="btnLogin" data-ng-click="login(loginForm)" value="Login" tabindex="4">
	</footer>
</form>